[submodule "SimpleWebRTC"]
	path = SimpleWebRTC
	url = https://github.com/HenrikJoreteg/SimpleWebRTC.git
[submodule "signalmaster"]
	path = signalmaster
	url = https://github.com/andyet/signalmaster.git
