##############
# global
##############

*.DS_Store
Thumbs.db

##############
# Build tools
##############
node_modules
npm-debug.log
.sass-cache


##############
# Build data
##############

main/js/meetup.*
main/css/*

main/room_files/*

