##############
# global
##############

*.DS_Store
Thumbs.db

##############
# Build tools
##############
node_modules
.sass-cache


##############
# Build data
##############

main/js/meetup.*
main/js/example.*
main/css/*

